.cuerpo{

    background-color: #FE7000;
    color:#FFFFFF;
    width: 100%;
    height: 100%;
    padding-top:0.5vh;
}



#carouselExampleAutoplaying {

  width: 60%;
  margin: 0 auto;
  

}

@media (max-width: 768px) {
  #carouselExampleAutoplaying {
    width: 90%;
  }
}

